.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.Input {
  display: block;
}

.H4 {
  text-align: center;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.Error {
  margin: 10px 0px;
  padding: 12px;
  color: #d8000c;
  background-color: #ffd2d2;
}
.Error i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}
